<h2>SignUp Page</h2>
<form action="/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" required/>
    <label for="password">Password</label>
    <input type="password" name="password" required/>
    <button type="submit">Register</button>
</form>
<a href="/signin">Already have an account? SignIn</a>