<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Submit Details</h2>
    <form action="/submit-form" method="POST">
        <label for="">Name</label>
        <input type="text" name="name" id="" required>
        <label for="">Email</label>
        <input type="email" name="email" id="" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>